{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>OTP</title>

    <!-- Css files -->
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">

    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
      #loginbox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
      }
    </style>
</head>
<body>
  <div id="header">
    <a id="indeximg" href="index"><div id="left">
        <img src="{%static 'images/logo.svg'%}" alt="" id="logo">
    </div></a>
    <div id="right">
            {%include 'header_right_elements.html'%}
            {%block content1%}
            {%endblock%}
    </div>
  </div>
  <div id="outerbox">
    <div id="loginbox">
      <h1>OTP</h1>
      <div id="loginform">
        <div id="error">{%for message in messages%}{{message}}{%endfor%}</div>
        <form action="otpverifcation" method="POST" enctype="multipart/form-data">
          {%csrf_token%}
          <label  id="username" for="username">OTP</label>
          <input type="number" id="username_box" name="otp" required>
          <input style="visibility: hidden;" type="text" name="username" value="{{username}}">
          <input style="visibility: hidden;" type="text" name="password" value="{{pwd}}">
          <input style="visibility: hidden;" type="text" name="email" value="{{email}}">
          <input type="submit" id="signup_button" value="Signup">
          <p id="new">Already have an account? <a id="signup" href="login">Login</a></p>
        </form>
      </div>
    </div>  
    <div id="right_image">
      <img id="right_img" src="{%static 'images/otp_right.svg'%}" alt="">
    </div>  
  </div> 
  <script>
    var data = document.getElementById("error").innerHTML;
    if (data == ''){
      document.getElementById("error").style.display = "none";
    }
  </script>
</body>
</html>